.dropdown{
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}


#selection       /* styling for the select form*/
{
    appearance: menu;
    background-color: #fbf7d344;
    box-shadow: 1px 1px 5px rgb(47, 56, 56); 
    border:1px rgba(255, 255, 255, 0.021);
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 24px;
    color:rgb(151, 145, 145);
    width: 20%;
    outline: none;
    cursor: pointer;
    text-align: center;
    font-weight: bolder;
    margin-right: 20px;
}

.buttonc
{
  
    
    border-radius: 10px;
    color: white;
    padding: 10px 20px;
    border: none;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  
}
#create{
    background-color:  rgb(28, 212, 212);;
}
#delete
{
    background-color: #ff6961;
}
.inpfield{
    display: flex;
    flex-direction: column;
    width:50%
}

.label{
    margin:2%;
    width: 120%;
}